* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0 auto;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.hide {
  display: none;
}
